<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510038176218-ng39u80j39ve47d2ejuqqkn8hmqe8b5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510038176218-ng39u80j39ve47d2ejuqqkn8hmqe8b5k</string>
	<key>API_KEY</key>
	<string>AIzaSyBokASeaJSLaEP-Xbq0_gtYj4YcYABDEMw</string>
	<key>GCM_SENDER_ID</key>
	<string>510038176218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaRiverpod</string>
	<key>PROJECT_ID</key>
	<string>insta-riverpod-rogri</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-riverpod-rogri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510038176218:ios:4d5f77448d85cea5a610e3</string>
</dict>
</plist>